
@{
    ViewBag.Title = "Logout";
}

<div style="margin-top:100px; color:black;">
    <h3>برای تکمیل عملیات خروج از سیستم لطفا مرورگر را ببندید.</h3>
</div>


<script language="javascript" type="text/javascript">

window.close();

</script>

