
@{
    ViewBag.Title = "Calendars";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link type="text/css" rel="stylesheet" href="~/Content/Calendar.css" />
<link href="~/Content/DatePicker/datepicker-theme.css" rel="stylesheet" />
<link href="~/Content/DatePicker/daterangepicker.css" rel="stylesheet" />
<link href="~/Content/Kendo2018.3.1/kendo.common.min.css" rel="stylesheet" />
<link href="~/Content/Kendo2018.3.1/kendo.default.min.css" rel="stylesheet" />
<link href="~/Content/Kendo2018.3.1/kendo.default.mobile.min.css" rel="stylesheet" />
<link href="~/Content/Kendo2018.3.1/kendo.rtl.min.css" rel="stylesheet" />
<script src="~/Scripts/Kendo2018.3.1/kendo.all.min.js"></script>
<script src="~/Scripts/DatePicker/html5shiv.js"></script>
<script src="~/Scripts/DatePicker/moment.min.js"></script>
<script src="~/Scripts/DatePicker/moment-jalaali.js"></script>
<script src="~/Scripts/DatePicker/daterangepicker-fa-ex.js"></script>
<script src="~/Scripts/DatePicker/daterangepicker.js"></script>
<script type="text/javascript" src="~/Scripts/Calendar.js"></script>


<div id="divMainContent" class="k-content k-rtl mx-auto" style="padding-top:80px;">
    <div class="row">
        <div class="col-md">
            <div id="kgrdCalendars"></div>
        </div>
    </div>
</div>



