
@{
    ViewBag.Title = "Sync";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-info" >
    <div style="text-align:center" class="panel-heading">
        همگام سازی PWA
        <br />
        <p style="font-size:0.9vw;margin-top:5px;" id="PNLEditAssignHeader">پروژه</p>
    </div>
    <div class="row ">
        <div class="col-md-12">
            <div class="form-group "> 
                <label  style="margin-top:5px" class="col-sm-1 col-form-label text-success"> همگامسازی با موفقیت انجام شد</label>
            </div>

        </div>
    </div>
</div>


